/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-text-weight), 'wdth' 100;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  max-width: 696px;
  margin: 100px auto;
}
/* < header */
.header {
  background-color: var(--themes-background, #FFF);
  font-family: var(--accent-font, sans-serif);
  border: 2px solid var(--themes-mainColor, #000);
  min-height: 368px;
  display: flex;
  flex-direction: column;  
  align-items: center;      
  justify-content: center;
  text-align: center;
  margin-block-end: 100px;
}
.header__title {
  font-size: clamp(3.063rem, 4.923vw + 1.909rem, 4.063rem);
  text-transform: uppercase;
}
.header__subtitle {
  font-size: clamp(0.875rem, 2.769vw + 0.226rem, 1.438rem);
  text-transform: uppercase;
  margin-top: 20px;
}
/* header /> */

/* < main */
.card {
  background-color: var(--themes-background, #FFF);
  border: 2px solid var(--themes-mainColor, #000);
  margin-block-end: 50px;
  color: var(--themes-mainColor, #000);
  
}
.card__title {
  font-variation-settings: 'wght' var(--card-title-weight);
  padding: 5px 10px;
  font-size: 18px;
  border-bottom: 2px solid var(--themes-mainColor, #000);
}
.card__image-wrapper {
  position: relative;
  width: 100%;
  height: 696px;
}
.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
   object-position: 96% center;
}
.card__image-label {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--themes-background, #FFF);
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}
.card__content {
  border-top: 2px solid var(--themes-mainColor, #000);
  padding: 25px 23px;
}
.card__text {
  font-size: 18px;
  line-height: 21px;
  margin-block-end: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px; 
  flex-wrap: wrap-reverse;
}
.card__buttons {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 6px;
}
.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 39px;
  transition: box-shadow 0.3s ease;
  border: none;
  background: transparent;
  cursor: pointer;
}
.card__like-button {
  display: flex;
  width: 126px;
  height: 34px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-mainColor, #000);
  background-color: var(--themes-background, #FFF) ;
}
.button__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; 
  font-family: var(--accent-font, sans-serif);
}
/* maim /> */

/* <footer  */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  width: 295px;
  gap: 8px;
  border: 2px solid var(--themes-mainColor, #000);
  background-color: var(--themes-background, #FFF) ;
}
/* footer /> */

/* < dialog */
dialog[open] {
  position: fixed;
  display: grid;
  gap: 30px;
  max-inline-size: 341px;
  padding: 29px;
  min-inline-size: 357px;
  border-width: 2px;
  max-block-size: 195px;
  font-family: var(--accent-font, sans-serif);
}
body:has(dialog[open]) {
  overflow: hidden;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
.flex-dialog {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: start;
}
.flex-dialog h2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  text-transform: uppercase;
  width: 234px;
  text-align: left;  
}
.flex-dialog svg {
  width: 100%;
  width: 39px;
  height: 39px;
}
dialog button {
  display: flex;
  border: 2px solid var(--themes-mainColor, #000);
  justify-content: center;
  padding: 11px 17px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; 
  text-transform: uppercase;
}
/* dialog /> */

/* < animation  */
.card__icon-button:focus {
  outline: none; 
}
.card__icon-button:focus-visible {
  box-shadow: 0 0 0 2px var(--themes-mainColor, #000);
}
.card__like-button:focus, .button__footer:focus {
    box-shadow: 2px 2px 0px 0px var(--themes-mainColor, #000);
}
.card__like-button, .button__footer {
  transition: box-shadow 0.3s ease;
  position: relative;
}
.card__like-button::before, .button__footer::before  {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--themes-mainColor, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before, .button__footer:hover::before {
  transform: scaleX(1);
}
.button__footer span,
.button__footer svg,
.button__text {
  position: relative;
  z-index: 2;
  color: white;
  mix-blend-mode: difference;
  transition: color 0.5s; 
}

.heart {
  display: inline-block;
  transform-origin: center;
}


.main-body,
.core,
.contour {
  fill: transparent;
}
.core {
  transition: fill 0.3s ease 0s;
}
.main-body {
  transition: fill 0.3s ease 0.05s;
}
.contour {
  fill: var(--contour-color);
  transition: fill 0.3s ease 0.06s;
}
.sparks {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--contour-color);
}
.like-icon:hover .main-body {
  fill: var(--contour-color);
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}
.like-icon:active .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear 0s;
}

.like-icon.is-liked .heart {
  animation: scaleUp 0.3s ease-in 0.1s both;
}
.like-icon.is-liked .sparks {
  animation: flash 0.3s ease-in 0.3s both;
}
/* animation /> */

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.filter1 {
filter: grayscale(100%);
}
.filter2 {
filter: contrast(20%);
}
.filter3 {
filter: saturate(158%);
}
.filter4 {
filter: invert(0.7);
}
.filter5 {
filter: sepia(80%);
}
.filter6 {
 filter: blur(0.5rem);
}
.filter7 {
filter: brightness(200%);
}

@media (max-width: 375px) {
  .page {
 min-width: 375px;
  
}
.card__image-wrapper {
    height: 371px;
  }
}